/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-light-mode {
  --glim-string-string-font-family-display: "Eidra Sans";
  --glim-string-string-font-family-text: "Eidra Sans";
  --glim-string-string-font-weight-loud: "Bold";
  --glim-string-string-font-weight-composed: "Regular";
  --glim-string-typography-string: "Transportation Powerhouse";
}